.container {
    position: relative;
    width: 100%;
    /* height: 444px; */
}

.container::before {
    content: "";
    background-image: url(https://github.com/hungle913/FriendFinder/blob/master/app/public/Assets/images/doggos.png?raw=true);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

h1 {
    font-size: 60px;
    color: #4db6ac;
    position: relative;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    color: #4db6ac;
    position: relative;
    font-weight: bold;
}

h3 {
    font-size: 50px;
    color: #4db6ac;
    position: relative;
    font-weight: bold;

}

h4 {
    font-size: 30px;
    color: #4db6ac;
    position: relative;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    color: #4db6ac;
    position: relative;
    font-weight: bold;
}

.footer {
    box-sizing: inherit;
    max-width: 1280px;
    margin: auto;
}

.input-field.col label {
    font-weight: bold;
    color: #4db6ac;
}

